*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.header{
margin: 0 auto;
background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%) ;
}

.main_menu{
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
}

